<section class="text-primaryText my-24 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div
      class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10"
    >
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-primaryText">
          Unveiling Our Vision for Your Dream Home
        </h1>
        <div class="leading-relaxed">
          Embark on a journey with us as we share the passion driving our
          commitment to redefine the way you discover, explore, and find your
          perfect home.
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">2.7K</h2>
        <p class="leading-relaxed">Users</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">1.8K</h2>
        <p class="leading-relaxed">Subscribes</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">35</h2>
        <p class="leading-relaxed">Downloads</p>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
        <h2 class="title-font font-medium text-3xl text-white">4</h2>
        <p class="leading-relaxed">Products</p>
      </div>
    </div>
    <div
      class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0"
    >
      <img
        class="object-cover object-center w-full h-full"
        src="https://plus.unsplash.com/premium_photo-1677535269540-f0829cc10196?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="stats"
      />
    </div>
  </div>
</section>
